tqdm
tabulate
python-dateutil
pyramid
pyramid_mako
pyramid_debugtoolbar
waitress
pymongo
pyshp
bcrypt
ldap3
pluck
numpy
pytz
scipy
geopy
request-id
pandas
#git+https://github.com/Supervisor/supervisor.git
git+https://github.com/lokkju/pyspatialite.git
email_validator